body {
  background: linear-gradient(180deg, #ff6b6b, #ffb3b3);
  font-family: Arial, sans-serif;
  color: white;
  margin: 40px;
}

h1 {
  background-color: #2ecc71;
  color: black;
  padding: 20px;
  width: fit-content;
}

p {
  background-color: #6a5acd;
  padding: 10px;
  max-width: 600px;
}

a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content{

